# Task 6

In [1]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def display(self):
      print(f"Name: {self.name}, Age: {self.age}, Grade: {self.grade}")

In [4]:
Student1 = Student("Suhaib", 20, 'A')
Student1.display()

Name: Suhaib, Age: 20, Grade: A

In [3]:
class Employee:
  def __init__(self,name, desingnation):
    self.name = name
    self.desingnation = desingnation
    # self.salary = salary
  def salary_cal(self):
    salary=0
    if (self.desingnation=='BPS 17'):
      salary=100000
    elif (self.desingnation=='BPS 18'):
      self.salary = 150000 ;
    else :
      print("Invalid Desingnation")
    return salary

In [6]:
Emp1 = Employee("Suhaib", "BPS 17")
salary_emp1 = Emp1.salary_cal()
print(salary_emp1)

100000