<a href="https://colab.research.google.com/github/suhaib200110/Data-Science-BWF-Suhaib/blob/main/Task%205/Task_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q : Convert two lists into a dictionary. Given the following lists:

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [1]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

combined_dic = dict(zip(keys, values))
print(combined_dic)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Q : Merge two Python dictionaries into one. Given the following dictionaries:

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

com_dic = {}

for key,value in zip(dict1.keys(),dict1.values()):
    com_dic[key] = value
for key,value in zip(dict2.keys(),dict2.values()):
    com_dic[key] = value
print(com_dic)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Q3 : Exercise 3: Print the value of the key 'history' from the following nested dictionary:

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [13]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80

Q : Initialize a dictionary with default values. Given the list of employees and default values:

employees = ['Kelly', 'Emma']

defaults = {"designation": 'Developer', "salary": 8000}

In [16]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
new_dict = {}
for i in employees:
    new_dict[i] = defaults
print(new_dict)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}